@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
}
button {
    cursor: pointer;
}
.header {
    grid-column: 1 / 3;
    height: 10vh;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container {
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    min-height: 85vh;
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;
}

.library-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    border-left: 8px solid darkcyan;
    height: 400px;
}

.remove-btn {
    float: right;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #e9e9e9;
}

.remove-btn:hover {
    background-color: #b8b8b8;
}

.book-info {
    margin-top: 2rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(85, 162, 218, 0.5);
    display: grid;
    place-items: center;
    transition: all 0.3s linear;
    visibility: hidden;
    z-index: -10;
  }
  /* OPEN/CLOSE MODAL */
  .open-modal {
    visibility: visible;
    z-index: 10;
  }
  .modal-container {
    background: white;
    border-radius: 0.5rem;
    width: 70vw;
    height: 90vh;
    max-width: 620px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
  }
  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: maroon;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .close-btn:hover {
    color: lightcoral;
    transform: scale(1.3);
  }

form, .input-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.form-container .input-container {
    position:relative;
    margin-bottom: 4.5rem;
    
}
.form-container .input-container input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
    
}
.form-container .input-container label {
    position: absolute;
    top: 0;
    left:0;
    padding: 5px 0;
    font-size: 1.75rem;
    pointer-events: none;
    transition: 0.5s;
}
.form-container .input-container input:focus ~ label,
.form-container .input-container input:valid ~ label{
    top: -30px;
    left: 0;
    color: rebeccapurple;
    font-size: 1.25rem;
}
.form-container .input-container input:focus {
    border: 2px solid rebeccapurple;
    border-radius: 5px;
}

.form-container .input-container input:focus:required{
    border: 2px solid rgb(85, 139, 255);
    border-radius: 5px;
}

.form-container .input-container input:focus:valid {
    border: 2px solid green;
    border-radius: 5px;
}

.form {
    border-bottom: 2px dashed rebeccapurple;
}
input[type="checkbox"] {
    height: 13rem;
}

footer {
    background-color: rgba(80, 236, 229, 0.589);
    height: 5vh;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}